*{
    padding: 0px;
    margin: 0px;
    /* overflow: hidden; */
}
body{
    width: auto;
    display: grid;
    justify-content: center;
    /* overflow-x: hidden; */
}
#navbar_container{
    height: 73px;
}
#navbar{
    
    top: 0px;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #dadada;
    display: flex;
    height: 4.5rem;
    /* justify-content: space-around; */
    position: relative;
    width: auto;
    z-index: 2;
    margin: 0px;
    padding: 0px;
    z-index: 100;
    width: 100%;
   
    
}
#img_container{
    position: absolute;
    width: 260px;
    height: 70px;
    margin: 0px;
    padding: 0px;
    /* border: #181c47 1px solid; */
    top: 0px;
}
#nav_image{
    width: 400px;
    height: 70px;
    padding: 0px;
    margin: 0px;
    position: relative;
    left: -75px;
    top: 0px;
    /* width: 150%; */
    /* border: 1px red solid; */
    
}
#nav_logo{
    position: relative;
    left: 45px;
    top: -60px;
}
#nav_links{
    margin-left: 300px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* border: 1px red solid; */
}
#nav_buttons , #nav_signin_signup_buttons{
    display: flex;
    gap: calc(1.5vw + .01vh + .1vmin);
    align-items: center;
    justify-content: space-around;
    /* border: 1px red solid; */
    letter-spacing: 1px;
    
}
#nav_signin_signup_buttons{
    margin-right: 4%;
}
#nav_buttons{
    margin-left: 3%;
}
#nav_buttons a, #nav_signin_signup_buttons a{
    text-decoration: none;
    color: #23408c;
    font-family: ProximaNova-Bold,helvetica neue,helvetica,arial,sans-serif;
    font-size: calc(1.3vw + .01vh + .1vmin);
    font-weight: 700;
    
}

.nav_svg > svg{
    height: calc(.8vw + .01vh + .1vmin);;
    fill: #23408c;
    cursor: pointer;
}

#create>a, #learn>a{
    cursor: text;
}
#create{
    cursor: text;
    /* border: #23408c 1px solid; */
    height: 200%;
    display: flex;
    gap: 10%;
    align-items: center;
}
#learn{
    cursor: text;
    /* border: #23408c 1px solid; */
    height: 200%;
    display: flex;
    gap: 10%;
    align-items: center;
}

#learn_links,#create_links{
    position: absolute;
    display: none;
    width: 100%;
    height: 300px;
    /* border: 1px red solid; */
    top: 71px;
    left: 0px;
    background-color: #fff;
    
    align-items: center;

}

#create:hover #create_links{
    display: grid;
}
#learn:hover #learn_links{
    display: grid;
}
#create_link_container a{
    display: block;
    font-family: ProximaNova,helvetica neue,helvetica,arial,sans-serif;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 45px;
    text-decoration: none;
    font-weight: 400;
}
#create_link_container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 80%;
    margin: auto;
    align-items: center;
}
#create_link_container>div>div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#create_link_container h2{
    margin-bottom: 15px;
    font-family: ProximaNova,helvetica neue,helvetica,arial,sans-serif;

}
#learn_link_container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 80%;
    margin: auto;
    align-items: center;
    /* justify-content: space-between; */
    gap: 5%;
    line-height: 30px;
    font-size: 20px;
    
}
.learn_svg{
    width: 18%;
}
#learn_link_container svg{
    margin-bottom: 20px;
    font-family: ProximaNova,helvetica neue,helvetica,arial,sans-serif;

}
#learn_link_container a{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 200;
    font-family: ProximaNova,helvetica neue,helvetica,arial,sans-serif;

}
#learn_link_container p{
    color: #181c47;
}


/* responsiveness********************************************************* */



#nav_middle_screen{
    display: none;
}
#mobile_links_list{
    height: auto;
    background-color: #f3f3f9;
    z-index: 20;
    top: 73px;
    position: absolute;
    text-decoration: none;
    color: #181c47;
    font-family: ProximaNova,sans-serif;
    letter-spacing: 0;
    font-size: 300%;
    line-height: 180%;
    padding-bottom: 100px;
    padding-left: 100px;
    display: none;
    width: 100%;
    height: 10000px;
    /* border: 1px red solid; */

}
#mobile_links_list a{
    color: #181c47;
    text-decoration: none;
    /* display: block; */
}
.nav_svg_mobile svg, .nav_svg_mobile svg{
    height: calc(1.4vw + .01vh + .1vmin);;
    fill: #181c47;
    cursor: pointer;
}
#mobile_container{
    margin-left: 5%;
    margin-top:5%;
}

#create_links_mobile,#learn_links_mobile{
    display: none;
    margin-left: 5%;
}
#create_links_mobile h4,#learn_links_mobile h4{
    margin-top: 3%;
    margin-bottom: 1%;
    font-size: 25px;
}
#create_links_mobile a, #learn_links_mobile a{
    display: block;
   
}

#mobile_signin{
    border: #23408c 2px solid;
    width: 130px;
    border-radius: 40px 40px;
    text-align: center;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#mobile_signin a{
    color: #23408c;
    font-size: 16px;
    font-weight: 700;
}

/* #nav_svg_mobile_create{
    transform: rotate(20deg);
    border: #181c47 1px solid;
} */


@media (max-width: 920px) { 
    
    #nav_links{
        display: none;
    }
    #navbar{
        justify-content: end;
    }
    #nav_middle_screen{
       
        display: flex;
        align-items: center;
        gap: 5%;
        margin-right: 2%;
    }
    #img_container{
        left: -8px;
    }
    #nav_middle_screen>div{
        width: 220px;
        margin-right: 5%;
        height: 40px;
        border: 2px solid #23408c;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
    }
    #nav_middle_screen>div>a{
        text-decoration: none;
        font-family: ProximaNova,helvetica neue,helvetica,arial,sans-serif;
        color: #23408c;
        font-weight: 600;
        letter-spacing: 1px;
    }
    #nav_middle_screen svg{
        width: 25px;
        display: flex;
        align-items: center;
        fill: #23408c;
        /* border: 1px red solid; */
    }
    

    


 }
@media (min-width: 320px) and (max-width: 765px) { 
    #img_container{
        left: -40px;
    }


 }


 #mobile_links_list{
    display: none;
 }




 /* singin in ************************************************************* */


 /* *:before {
    box-sizing: border-box;
  } */

/* body {
background: #fff;
font-family: arial;
padding:0px;
} */
h1{
text-align: center;
}

/* .container{
width:1100px;
margin: 0 auto;
} */

.modal-btn {
text-decoration: none;
color: #23408c;
font-family: ProximaNova-Bold,helvetica neue,helvetica,arial,sans-serif;
font-size: calc(1.3vw + .01vh + .1vmin);
font-weight: 700;
cursor: pointer;
display: flex;
/* border: 1px red solid; */
padding-top: 28px;


}
.modal-container .modal-content,
.modal-container .modal-backdrop {
height: 0;
width: 0;
opacity: 0;
visibility: hidden;
overflow: hidden;
cursor: pointer;
transition: opacity 0.2s ease-in;
text-align: center;
justify-content: center;
}
.modal-container .modal-close {
color: #aaa;
background: #fff;
width: 25px;
height: 25px;
padding-top: 3px;
font-size: 26px;
font-weight: bold;
text-align: center;
position: absolute;
right: 5px;
top: 5px;
cursor: pointer;

}

.modal-container .modal-content-btn , button{
background: #3498db;
color: #fff;
width: 100%;
height: 38px;
border-radius: 2px;
font-size: 14px;
text-align: center;
cursor: pointer;

}

#modal-toggle{
position: relative;
top: 0px;
left: -50px;
width: 20px;
width: 0px;
height: 0px;
/* border: 1px red solid; */

}

.modal-container #modal-toggle:checked ~ .modal-backdrop {
background-color: rgba(0, 0, 0, 0.6);
width: 100vw;
height: 100vh;
position: fixed;
left: 0;
top: 0;
z-index: 9;
visibility: visible;
opacity: 1;
transition: opacity 0.2s ease-in;
}
.modal-container #modal-toggle:checked ~ .modal-content {
background-color: #fff;
max-width: 680px;
width: 100%;
height: 620px;
padding: 10px 30px;
border-radius: 1px;
position: fixed;
left: calc(50% - 400px);
top: 12%;
z-index: 999;
cursor: auto;
visibility: visible;
opacity: 1;
box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);

}
@media (max-width: 400px) {
.modal-container #modal-toggle.active ~ .modal-content, 
.modal-container #modal-toggle:checked ~ .modal-content {
left: 0;
}
}


input,
select , textarea {
width: 70%;
padding: 12px;
border: 1px solid blueviolet;
border-radius: 10px;
box-sizing: border-box;
margin-top: 6px;
margin-bottom: 15px;
resize: vertical;
cursor: pointer;
padding: 12 px 20px;
font-size: large;

}
#pdash{
    
    margin-top: 20px;
    padding-bottom: 20px;
}
#fff{
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.modal-container button,select , textarea {
width: 65%;
height: 45px;
padding: 5px 5px 5px 5px;
border: 1px solid black;
border-radius: 20px;
box-sizing: border-box;
resize: vertical;
font-size: larger;
font-weight: bolder;

}

