*{
    padding: 0px;
    margin: 0px;
}
#navbar_container{
    height: 73px;
}
#navbar{
    background-color: #fff;
    border: 1px solid #dadada;
    display: flex;
    height: 70px;
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
    z-index: 100;
   
    
}
#img_container{
    position: absolute;
    width: 2vw;
    margin: 0px;
    padding: 0px;
    /* border: #181c47 1px solid; */
    top: 0px;
}
#nav_image{
    width: 400px;
    height: 72px;
    padding: 0px;
    margin: 0px;
    position: relative;
    left: -75px;
    top: 0px;
    
}
#nav_logo{
    position: relative;
    left: 45px;
    top: -60px;
}
#nav_links{
    margin-left: 300px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* border: 1px red solid; */
}
#nav_buttons , #nav_signin_signup_buttons{
    display: flex;
    gap: calc(1.5vw + .01vh + .1vmin);
    align-items: center;
    justify-content: space-around;
    /* border: 1px red solid; */
    letter-spacing: 1px;
}
#nav_signin_signup_buttons{
    margin-right: 4%;
}
#nav_buttons{
    margin-left: 3%;
}
#nav_buttons a, #nav_signin_signup_buttons a{
    text-decoration: none;
    color: #23408c;
    font-family: ProximaNova-Bold,helvetica neue,helvetica,arial,sans-serif;
    font-size: calc(1.3vw + .01vh + .1vmin);
    font-weight: 700;
    
}

.nav_svg > svg{
    height: calc(.8vw + .01vh + .1vmin);
    fill: #23408c;
    cursor: pointer;
}

#create, #learn{
    cursor: text;
    color: #23408c;
    font-family: ProximaNova-Bold,helvetica neue,helvetica,arial,sans-serif;
    font-size: calc(1.3vw + .01vh + .1vmin);
    font-weight: 700;
}
#create{
    cursor: text;
    /* border: #23408c 1px solid; */
    height: 100%;
    display: flex;
    gap: 10%;
    align-items: center;
}
#learn{
    cursor: text;
    /* border: #23408c 1px solid; */
    height: 100%;
    display: flex;
    gap: 10%;
    align-items: center;
}

#learn_links,#create_links{
    position: absolute;
    display: none;
    width: 100%;
    height: 300px;
    /* border: 1px red solid; */
    top: 71px;
    left: 0px;
    background-color: #fff;
    align-items: center;
}

#create:hover #create_links{
    display: grid;
}
#learn:hover #learn_links{
    display: grid;
}
#create_link_container a{
    display: block;
    font-family: ProximaNova,helvetica neue,helvetica,arial,sans-serif;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 45px;
    text-decoration: none;
    font-weight: 400;
    transition: color 100ms ease;
}

#create_link_container a:hover{
    color:  #181c47;
}

#create_link_container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 80%;
    margin: auto;
    align-items: center;
}
#create_link_container>div>div{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 150px;
}
#create_link_container h2{
    margin-bottom: 15px;
    font-family: ProximaNova,helvetica neue,helvetica,arial,sans-serif;

}
#learn_link_container{
    display: flex;
    /* grid-template-columns: repeat(4,1fr); */
    width: 80%;
    margin: auto;
    align-items: center;
    /* justify-content: space-between; */
    gap: 5%;
    line-height: 30px;
    font-size: 20px;
    
}
.learn_svg{
    width: 18%;
}
#learn_link_container svg{
    margin-bottom: 20px;
    font-family: ProximaNova,helvetica neue,helvetica,arial,sans-serif;

}
#learn_link_container a{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 200;
    font-family: ProximaNova,helvetica neue,helvetica,arial,sans-serif;
    transition: color 200ms ease;

}

#learn_link_container a:hover{
    color:  #181c47;
}
#learn_link_container p{
    color: #181c47;
}


/* responsiveness********************************************************* */



#nav_middle_screen{
    display: none;
}
#mobile_signin,#mobile_signup{
    border: #23408c 2px solid;
    width: calc(20vw);
    border-radius: 40px 40px;
    text-align: center;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mobile_signin{
    display: none;
}
#nav_middle_screen{
    padding-right: 2vw;
}
#nav_middle_screen a {
    color: #23408c;
    font-size: 2vw;
    font-weight: 700;
    text-decoration: none;
    font-family: ProximaNova,sans-serif;
}


@media (max-width: 920px) { 
    #background_div{
        width: 100%;
        /* border: 1px red solid; */
        height: 2000px;
        overflow-Y: hidden;
        background-color: #f3f3f9;
    }
    #mobile_signin{
        display: flex;
        /* justify-content: center;
        align-items: center; */
        /* border: 1px red solid; */
        font-size: calc(1.2vw + 2vh);
    }
    #nav_signin_signup_buttons+a{
        color: #23408c;
        font-weight: 700;
        text-decoration: none;
        font-family: ProximaNova,sans-serif;
    }
    .nav_svg > svg{
        height: calc(1vw + .03vh + .5vmin);
        cursor: pointer;
    }
    #nav_links{
        display: none;
        margin-left: 0vw;
        position: relative;
        top: 71px;
        left: 0px;
        /* border: #181c47 solid 1px ; */
        padding: 40px;
        height: 100vh;
        background-color: #f3f3f9;
        /* overflow: hidden; */
        /* display: block; */
        
        
    }
    #nav_links a{
        font-size: calc(2vw + 2vh);
        line-height: 10vh;
    }
    #create span,#learn span{
        font-size: calc(2vw + 2vh);
        line-height: 10vh;

    }
    #navbar{
        justify-content: end;
        top: 0px;
    }
    #nav_middle_screen{
        display: flex;
        align-items: center;
        gap: 5%;
        margin-right: 2%;
    }
    #img_container{
        left: -8px;
    }
    #nav_middle_screen svg{
        width: 3.5vw;
        display: flex;
        align-items: center;
        fill: #23408c;
        cursor: pointer;
        /* border: 1px red solid; */
    }
    
    #nav_buttons{
        margin-left: 3%;
        display: block;
    }
    #nav_signin_signup_buttons{
        display: none;
    }
    #create_links,#learn_links{
        position:static;
        /* display:block; */
        /* border: 1px red solid; */
        height: auto;
    }
    #create:hover #create_links{
        display: none;
        
    }
    #learn:hover #learn_links{
        display: none;
        
    }
    #create_link_container,#learn_link_container{
        display: block;
        background-color: #f3f3f9;
        width: 100%;
        margin-top: 20px;
        /* border: #181c47 1px solid; */
        
        
    }
    
    #create_link_container >div>div,#learn_link_container >div>div{
        display: block;
        height: auto;
        
    }
    #learn_link_container >div svg,#learn_link_container >div p{
        display: none;
        
    }
    #create,#learn{
        display: block;
    }
    

    


 }
@media (min-width: 320px) and (max-width: 765px) { 
    #img_container{
        left: -40px;
    }

    .nav_svg > svg{
        height: calc(1.5vw + .03vh + .5vmin);
    }


 }

 #mobile_links_list{
    display: none;
 }