<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./footer.css">
   
</head>
<body>
  <div id="sliding">
    <div id="Acontainer">
  
      <div id="Abcontainer">
        <div class="linkwith">
          <div><a href="">WORK</a></div>
          <div><a href="">Business</a></div>
          <div><a href="">Real estate</a></div>
          <div><a href="">Photography</a></div>
          <div><a href="">Education</a></div>
          <div><a href="">Fitness</a></div>
          <div><a href="">Non-Profit</a></div>
          <div><a href="">Ecommerce</a></div>
        </div>
        <div class="linkwith">
          <div><a href="">PERSONAL</a></div>
          <div><a href="">Birthday</a></div>
          <div><a href="">Wedding</a></div>
          <div><a href="">Memorial</a></div>
          <div><a href="">Graduation</a></div>
          <div><a href="">Holiday</a></div>
        </div>
  
  
  
        <div class="linkwith">
          <div><a href="">Features</a></div>
          <div><a href="">Video Commenting tool</a></div>
          <div><a href="">Screen recorder</a></div>
          <div><a href="">Stock library</a></div>
          <div><a href="">Online video maker</a></div>
          <div><a href="">Text and fonts</a></div>
          <div><a href="">Logo watermark</a></div>
          <div><a href="">Music library</a></div>
          <div><a href="">Video trimming</a></div>
          <div><a href="">All Features</a></div> 
        </div>
  
                <div class="linkwith">
                  <div><a href="">VIDEO TYPES</a></div>
                  <div><a href="">Slideshow video</a></div>
                  <div><a href="">video ads</a></div>
                  <div><a href="">Tutorial video</a></div>
                  <div><a href="">Promo video</a></div>
                  <div><a href="">Marketing video</a></div>
                  <div><a href="">Square video</a></div>
                
                </div>
        <div class="linkwith">
          <div><a href="">SOCIAL MEDIA</a></div>
          <div><a href="">Facebook</a></div>
          <div><a href="">YouTube</a></div>
          <div><a href="">Instagram</a></div>
          <div><a href="">Twitter</a></div>
  
        </div>
      </div>
  
    </div>
  
  </div>
  </div>
  </div>







   <div id="footer_container"></div>

</body>
</html>
<script type="module">
  import {footer_fn} from './footer.js'
  const footer_container = document.querySelector('#footer_container');
  footer_container.innerHTML = footer_fn()
</script>