/*--------------------------TOP3----------------------------*/
#ecom_top3{
    width: 100%;
    height: auto;
    /* border: 5px solid green; */
}
.top33{
    width: 100%;
    min-height: 500px;
    /* border: 3px solid red; */
    display: flex;
}
/*------------------heading--------------------*/
#heading3{
    margin-top: 5%;
    margin-bottom: 1%;
    margin-left: 15%;
    font-size: 50px;
}
#underline3{
    margin-left: 45%;
    padding-bottom: 2%;
}
/*--------------------------------*/
.top333{
    width: 50%;
    min-height: 500px;
    /* border: 3px solid blue */
}
/*--------------------------------*/
#top_3_3_2>h1{
    padding: 20px 280px 0px 20px;
    font-size: 50px;
    justify-content: center;
}
#top_3_3_2>img{
    margin: 20px 120px 0px 20px;
    font-size: 60px;
    justify-content: center;
    width: 20%;
}

#top_3_3_2>p{
    padding: 25px 130px 0px 20px;
}
#step1{
    font-weight: bold;
}
/*--------------------------------------*/
/*-----------------step2------------------*/
#top_3_3_3>h1{
    padding: 20px 120px 0px 130px;
    font-size: 50px;
    justify-content: center;
}
#top_3_3_3>img{
    margin: 20px 0px 0px 130px;
    font-size: 60px;
    justify-content: center;
    width:20%;
}

#top_3_3_3>p{
    padding: 25px 90px 0px 130px;
}
#step2{
    font-weight: bold;
}
/*----------------------------------------*/
/*-----------------step3-------------------*/
#top_3_3_6>h1{
    padding: 20px 280px 0px 20px;
    font-size: 50px;
    justify-content: center;
}
#top_3_3_6>img{
    margin: 20px 120px 0px 20px;
    font-size: 60px;
    justify-content: center;
    width: 20%;
}

#top_3_3_6>p{
    padding: 25px 130px 0px 20px;
}
#step3{
    font-weight: bold;
}
/*--------------------------------------------*/
/*----------------video1------------------------*/
#top_3_3_1>video{
    width: 90%;
    height: 90%;
}
/*------------video---------------*/
#top_3_3_4>video{
    width: 90%;
    height: 90%;
}
/*------------video---------------*/
#top_3_3_5>video{
    width: 90%;
    height: 90%;
}
/*----------button---------------*/
#et3_btn1{
    font-size: 20px;
    background-color:rgb(12, 44, 150);
    color: white;
    padding: 13px 30px 13px 30px;
    text-decoration: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    margin-left: 44%;
}
/*-------------------------------------------------------------*/

/*---------------------------TOP4--------------------------------*/
#ecom_top4{
    width: 100%;
    min-height: 680px;
    /* border: 3px solid black; */
    background-color: rgb(234, 236, 238);
    margin-top: 140px;
    margin-left: auto;
}
/*--------------et4_btn------------*/
.et4_btn{
    margin: 70px 0px 70px 210px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    background-color: rgb(234, 236, 238);;
    color: rgb(45, 53, 147);
}
/*----------------et4_title-------------*/
#et4_title{
    margin-left: 210px;
    margin-bottom: 50px;
    font-size: 50px;
}
.et4_para{
    margin-left: 250px;
    margin-bottom: 20px;
    margin-top: 15px;
}
.et4_sub{
    margin-left: 275px;
    margin-right: 400px;
}
#ecom_top4{
    display: flex;
}


/*---------------------------ecom top5---------------------------*/
#ecom_top5{
    /* border: 2px solid black; */
    width: 100%;
    min-height: 720px;
    display: flex;
}
.et55{
    width: 50%;
    min-height: 720px;
    /* border: 2px solid green; */
}
#et5_img{
    width: 530px;
    min-height: 550px;
    margin-top: 12%;
    margin-left: 22%;
}
/*----------------------*/
#et5_p1{
    padding-top: 80px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(42, 66, 100);
}
#et5_h1{
    font-size: 50px;
    padding-top: 30px;
    padding-right: 140px;
    padding-bottom: 10px;
    color: rgb(42, 66, 100);
}
#et5_img1{
    width: 15%;
}
#et5_p2{
    padding-top: 30px;
    padding-right: 140px;
    font-size:24px;
    color: rgb(39, 61, 92);
}
/*----------------------------------------ecom top 7------------------------*/
#ecom_top7{
    width: 100%;
    min-height: 40px;
    /* border: 3px solid black; */
    text-align: center;
}
#et7{
    width: 100%;
    min-height: 300px;
    /* border: 3px solid red; */
    margin: auto;
    display: flex;
}
.et77{
    width: 33%;
    min-height: 300px;
    /* border: 3px solid blue; */
}
#et7_head1{
    margin:120px 0px 30px 0px;
    color: rgb(42, 66, 100);
}
#et7_head2{
    font-size: 50px;
    margin: 0px 120px 20px 120px;
    color: rgb(42, 66, 100);
}
#et7_img1{
    width: 10%;
}
.et7_para1{
    margin-top: 100px;
    margin-bottom: 40px;
    color: rgb(42, 66, 100);
}
/*--------------------*/
#et7_p11{
    margin-left: 200px;
    color: rgb(42, 66, 100);
}
#et7_p21{
    margin-left: 150px;
    color: rgb(42, 66, 100);
}
/*----------------------*/
#et7_p12{
    margin-left: -130px;
    color: rgb(42, 66, 100);
}
#et7_p22{
    margin-left: 30px;
    margin-right: 120px;
    color: rgb(42, 66, 100);
}
/*---------------------------*/
#et7_p13{
    margin-left: -200px;
    color: rgb(42, 66, 100);
}
#et7_p23{
    margin-right: 200px;
    color: rgb(42, 66, 100);
} 

/*--------------------------------ecom top 9------------------------------------*/
#ecom_top9{
    width: 100%;
    min-height: 550px;
    /* border:3px solid red; */
    text-align: center;
}
#et9_1{
    /* border:2px solid green; */
    width: 40%;
    min-height: 400px;
    margin-left: 450px;
    text-align: center;
}
#et9_head1{
    font-weight: bold;
    color: rgb(42, 66, 100);
    padding-top: 60px;
}
#et9_head2{
    font-size: 45px;
    margin-bottom: 30px;
    color: rgb(42, 66, 100);
}

#et9_p1{
    font-size: 35px;
    padding: 30px 30px 20px 30px;
    color: rgb(42, 66, 100);
}
#et9_p2{
    font-size: 25px;
    font-weight: bold;
    color: rgb(42, 66, 100);
}
#et9_p3{
    font-size: 18px;
    color: rgb(42, 66, 100);
}

.et9_btn{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 12px;
    background-color:rgb(42, 66, 100);
}