*{
    color: #181c47;
    font-family: ProximaNova,helvetica neue,helvetica,arial,sans-serif;
    line-height: 110%;
}
a{
    text-decoration: none;
    cursor: pointer;
}

#top{
    
    background-color: rgba(241, 241, 241, 0.836);
    /* padding-bottom: 100px;
    background-image: url("https://animoto.com/static/wiggly-background-0a8823ffd34a7636e9400367df7ffe43.svg"); */
}
#top_deading, h1, h2{
    font-family: PlayfairDisplay-Bold,serif;

}
#top_V h3, #top_V h3+p{
    margin: 10px 0px;
}
#Top_img {
    width: 25%;
    height: 150px;
    background-image: url("https://animoto.com/static/YellowCorner-d367eaf0eeff2a90f1d4d374e3b1c3e8.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#Top_img>img {
    width: 100%;
    height: 120%;
    margin-left: -100px;
    margin-top: 80px;
}

#top_page {
    width: 85%;
    margin-left: 11%;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#headers {
    width: 90%;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}
#top button{
    margin-top: 30px;
}
#top_left {
    width: 50%;
}

.line_img {
    width: 50%;
}

#video {
    width: 50%;
    margin-left: 10%;
    height: 320px;
    background-image: url("https://animoto.com/static/desktop-image-bg-8ea06e38a522392f18df00037c063f3b.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#video>iframe {
    width: 90%;
    /* margin-left: 10%; */
    height: 80%;
    overflow: scroll;
    position: relative;
    top:-20px;
    left:-20px;
}

#top_deading {
    width: 90%;
    font-size: 65px;
    color: darkblue;
}

p {
    font-size: 20px;
}

button {
    width: 50%;
    height: 50px;

    font-size: 80%;
    padding: 10px;
    color: white;
    background-color: darkblue;
    border-radius: 25px;
}


#top-II{
    text-align: center;
    width: 80%;
    margin: auto;
    padding: 30px;
}
#top-II>h1{
    font-size:45px ;
}
#top-II>img{
    width: 15%;
}
#put_video{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}
#put_video>div>img{
    display: block;
    width: 85%;
    margin: auto;
    object-position: center;
}
a{
    font-size: 20px;
    font-weight: bold;
    /* text-decoration: none; */

}
#top_III{
    text-align: center;
    width: 92%;
    margin: auto;
    padding: 30px;
    background-color: rgba(241, 241, 241, 0.836);
}
#top_III>h1{
    font-size:45px;
     
}
#top_III h2{
    margin: 10px 0px;
}
#top_III button{
    height: 40px;
}
#top_III>img{
    width: 15%;
}
#buttons{
    padding: 0px 15px 20px 15px;
    display: flex;
    justify-content: space-between
}
#buttons>h2{
    font-size: 20px;
    color: blueviolet;
   
}
.video_part{
    justify-content: space-around;
    display: none;
    padding-bottom: 50px;
}
.video_part>div{
    text-align: left;
    width: 30%;
}
.video_part>div>iframe{
    overflow: scroll;
    width: 100%;
    height: 180px;
}
.video_part>div>button{
    width: 70%;
    font-size: 15PX;
    padding: 0px;
}
.video_part>div>h2{
    font-size: 18px;
}



#top_IV{
    text-align: center;
    width: 80%;
    margin: auto;
    padding: 30px;
    /* border: 1px red solid; */
}
#top_IV>h1{
    font-size:40px 
}
#top_IV img{
    width: 15%;
}
#desc{
    text-align: left;
    margin-top: 25px;
    padding: 20px 0px 20px 0px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;

}
#desc>div>iframe{
    width: 73%;
    height: 270px;
    margin-left: 40px;
    /* overflow:scroll; */
    border: none;
}
#top_V{
    text-align: center;
    width: 80%;
    margin: auto;
    padding: 30px;
}
#top_V>h1{
    font-size: 45px;
}
#top_V>img{
    width: 20%;
}
#top_V>div{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 30px;
}
#top_V>div>div>img{
    width: 35%;

}
#top_VI{
    text-align: center;
}
#top_VI>div{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
}
#top_VI>div>div>img{
    width: 60%;
}



#top_VII>div{
    margin-top: 30px;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 50px 0px 50px 0px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(43, 65, 134);
}
#top_VII>img{
    margin-top: -25px;
    width: 100%;
}
.spiral{
    width: 100%;
    height: 250px;
}
#top_VII>div>div>h1{
    font-size: 70px;
    color: white;
}
#top_VII>div>div>p{
    color: white;
}
#top_VII>div>div>a{
    color: aliceblue;
    font-weight: normal;
    background-color: rgb(95, 57, 131);
}

#line_img{
    width: 25%;
}
#top_VII>div>div>button{
    background-color: white;
    color: rgb(43, 65, 134);;
    width: 40%;
}

#top_VIII{
    width: 95%;
    margin: auto;
    padding-left: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
#top_VIII>div{
    width: 50%;
}
#top_VIII>div+div>img{
    display: block;
    width: 100%;
    padding-bottom: 50px;
    /* margin-left: px; */
}
#top_VIII>div>h1,#top_VIII>div>p{
    padding-bottom: 20px;
}

#top_VI h2{
    margin: 20px;
}
#put_video p{
    margin: 20px 0px;
}


@media (max-width: 920px) {
    #video>iframe {
        width: 89%;
        height:  55%;
    }
    #buttons{
        gap: 10px;
        font-size: 60%;
        font-weight: normal;
    }
}
#desc h1,#desc p,#desc button{
    margin-top: 5%;
}

@media (min-width: 320px) and (max-width: 765px){

 /* playing video in full box starts************************************************ */
   
    
 /* playing video in full box ends************************************************ */

   .line_img{
    width: 20%;
   }
   
    #video>iframe {
        margin: auto;
        width: 70%;
        height:  350px;
        padding: 20px;
    }
    .first_video_of_smallscreen{
        padding-bottom: 10%;
    }
    #video{
        margin-top: 50px;
        background-image: none;
    }
    #top_page{
        flex-direction: column;
        width: 100%;
        margin: 0px;
        padding: 0px;

    }
    #top{
        margin: 0px;
        padding: 0px;
        text-align: center;
        margin-bottom: 50px;
       

    }
    #headers{
        flex-direction: column;
    }
    #top_left{
        margin-top: -20%;
        flex-direction: column;
        /* border: 1px red solid; */
        width: 100%;


    }
    #top_left h1{
        margin: 20px 0px;
    }

    #top_deading{
        font-size: 300%;
        text-align: center;
    }
    

    #put_video{
     flex-direction: column;
        align-items: center;
    }

    #buttons{
        gap: 5px;
        font-size: 40%;
        font-weight: normal;
    }

    #desc{
        display: flex;
        flex-direction: column;
        text-align: center;
        
    }
    #desc h1,#desc p,#desc button{
        margin-top: 5%;
    }
    #top_IV .disc_reverse{
        display: flex;
        flex-direction: column-reverse;
    }
/* top v********************************************************* */
    #top_V>div{
        display: block;
        grid-template-columns: repeat(1,1fr);
    }
    #top_V h3, #top_V h3+p{
        margin: 10px 0px;
    }
/* top vi************************************88 */
    #top_VI>div{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

}
